################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TuNanNiao.LeanCloudStudy/.vs
/TuNanNiao.LeanCloudStudy/packages
/TuNanNiao.LeanCloudStudy/TuNanNiao.LeanCloudStudy/bin
/TuNanNiao.LeanCloudStudy/TuNanNiao.LeanCloudStudy/obj/Debug
